/* Body */

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  background-color: rgb(39, 45, 77);
}

.password-container {
  background: linear-gradient(to left, rgb(39, 45, 77), aqua);
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
  margin: 20px;
}

/* tool tip to show text when hover */
.tooltip {
  position: relative;
}

.tooltip-text {
  letter-spacing: 2px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.input-container {
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  font-weight: bold;
}

.input::placeholder {
  letter-spacing: 0;
}
.fa-copy {
  color: rgb(38, 201, 207);
  transition: opacity 0.2s ease;
  cursor: pointer;
  opacity: 0.5;
}
.fa-copy:hover {
  opacity: 0.9;
}

.fa-copy:active{
    transform: scale(0.95);
}

.btn {
  background-color: #000;
  color: rgb(68, 194, 188);
  border: none;
  padding: 10px 20px;
  margin: 15px auto;
  font-size: 20px;
  display: block;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: 3px 3px 4px #000;
  cursor: pointer;
}

.btn:hover {
  transform: translate(0px, -2px);
  animation: Colored 2s ease 0s infinite alternate both;
}

@keyframes Colored {
  0% {
    color: rgb(68, 194, 188);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.205);
  }

  100% {
    color: white;
    box-shadow: 0px 3px 4px rgb(255, 255, 255);
  }
}

.btn:active {
  transform: scale(0.95);
  background-color: rgba(35, 102, 114, 0.699);
  color: #fff;
}

.alert-container {
  position: fixed;
  width: 300px;
  height: 50px;
  background: linear-gradient(to right, lightgreen, rgb(39, 45, 77));
  border-radius: 10px;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 1%,
    black 96%,
    transparent
  );
  bottom: 20px;
  right: 20px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: all 0.5s ease;
}

.hide.alert-container {
  right: -300px;
}
